html, body{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #0F2027, #000000);
  background: linear-gradient(to bottom right, #0F2027, #000000);
  background-attachment: fixed;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
}


* {box-sizing: border-box;}

#beatLoaders{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 50vh ;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

#beatLoadersForPostingBook{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 50vh ;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  display: none;
}


#redirectionPreviewAfterPublishingBook, #deleteBookNotice, #tryingBookDelete{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 50vh ;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.699);
  display: none;
}

#redirectionPreviewAfterPublishingBook b, #deleteBookNotice b{
  font-size: 25px;
  color: rgb(6, 255, 110);
}

.navbar{
  background: #00040A;
  padding: 5px 50px;
}

.container{
  margin-top: 30px;
}

.card{
  color: white;
  background: #0A1014;
  transition: 2s;
  padding: 0px;
}

.card:hover{
  background: rgb(9, 20, 27);
  transition: 0.5s;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border: 1px solid tomato;
}

.readMoreLink{
  color: rgb(196, 81, 15);
}

.readMoreLink:hover{
  text-decoration: none;
}

.previewLink{
  transition: 2s;
}

.previewLink:hover{
  opacity: 0.8;
  transition: 0.5s;
}

.authorName b{
  color: tomato;
}

#bookContainer{
  color: white;
  background: #0A1014;
  margin: auto;
  display: none;
  padding: 10px;
}

#bookContainer .bookTitle{
  font-size: 40px;
}

#bookContainer .bookAuthor{
  font-size: 13px;
  font-family: "Segoe UI";
}

#bookContainer .bookAuthor .bookWriter{
  color: tomato;
}

#bookContainer .bookSummary{
  font-family: Arial, Helvetica, sans-serif;
}